<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Techcycle" connectionString="server=localhost\SQLEXPRESS;Initial Catalog=EVSTAR.Master;User=TcUser;Password=T3chcycl3!" />
		<add name="REACH" connectionString="server=localhost\SQLEXPRESS;Initial Catalog=ReachMobile;User=TcUser;Password=T3chcycl3!" />
		<add name="DOB" connectionString="server=localhost\SQLEXPRESS;Initial Catalog=Dobson;User=TcUser;Password=T3chcycl3!" />
		<add name="EVSTAR" connectionString="server=localhost\SQLEXPRESS;Initial Catalog=EVSTAR;User=TcUser;Password=T3chcycl3!" />
	</connectionStrings>
	<appSettings>
		<add key="EVSTARClientID" value="1"/>
		<add key="DOBClientID" value="5"/>
	</appSettings>
</configuration>