body { 
text-align: center; 
margin-top:20px
} 

.content { 
text-align: left; 
width: 750px;
border:solid 5px #CBCAC6;
background-color:#f9f9f9;
padding: 20px 20px 40px 20px; 
font-family:Segoe UI, Arial,Verdana,Helvetica,sans-serif;
font-size: 80%;
margin: 0 auto; 
} 
select
{
width: 400px;
}
fieldset
{
	background-color:White;
}