/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.select-border {
    border-color: cornflowerblue;
    border-width: thick;
    width:100%;
}

.select-border:hover {
    border-color: blueviolet;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 380px;
}

option {
    font-family: 'Montserrat';
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

#top-menu li a {
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform:none;
}

[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    /* customizable */
    background: #8dc63f;
    margin-top: -50px;
    margin-left: 120px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}
